@font-face {
    font-family: "dyslexie";
    src:    url("../assets/fonts/DyslexieBold170695.ttf"),
            url("../assets/fonts/DyslexieBoldItalic170695.ttf"),
            url("../assets/fonts/DyslexieItalic170695.ttf"),
            url("../assets/fonts/DyslexieRegular170695.ttf"),
}

@font-face {
    font-family: "queue";
    src:    url("../assets/fonts/queueBlack.otf"),
            url("../assets/fonts/queueBlackitalic.otf"),
            url("../assets/fonts/queueBold.otf"),
            url("../assets/fonts/queueBolditalic.otf"),
            url("../assets/fonts/queueBook.otf"),
            url("../assets/fonts/queueBookitalic.otf"),
            url("../assets/fonts/queueLight.otf"),
            url("../assets/fonts/queueLightitalic.otf"),
            url("../assets/fonts/queueMedium.otf"),
            url("../assets/fonts/queueMediumitalic.otf"),
            url("../assets/fonts/queueThin.otf"),
            url("../assets/fonts/queueThinitalic.otf"),
}

/* delete this comment line */

.dyslexie {
    font-family: "dyslexie"
}

.queue {
    font-family: "queue"
}

body {
    --default-width: 44px;
    --default-height: 44px;
    --red: #a84035;
    --blue: #2b496e;
    --green: #46613d;
    --yellow: #b99333;
    --light-red: #a8534b;
    --black: #131313;
    font-family: queue;
    background-color: bisque;
}

#copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light-red);
    font-size: 12px;
}

.coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40vh 0 40vh 0;
    color: var(--blue);
    font-size: 64px;
}

#brand {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 44px;
    line-height: 44px;
    color: var(--light-red);
}

#brand-name {
    height: var(--default-height);
}

#intersection-logo {
    width: var(--default-width);
    height: var(--default-height);
}



#menu-icon {
    width: var(--default-width);
    height: var(--default-height);

}

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}